<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>MEDINOVA - Hospital Website Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">

  <!-- Favicon -->
  <link th:href="@{img/favicon.ico}" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>


<!-- Search Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
      <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Find A Doctor</h5>
      <h1 class="display-4 mb-4" th:text="${showDetails.fullname}">Find A Healthcare Professionals</h1>
      <h5 class="fw-normal" th:text="${showDetails.typeIllness}">Duo ipsum erat stet dolor sea ut nonumy tempor. Tempor duo lorem eos sit sed ipsum takimata ipsum sit est. Ipsum ea voluptua ipsum sit justo</h5>
    </div>
  </div>
</div>
<!-- Search End -->



<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{lib/easing/easing.min.js}"></script>
<script th:src="@{lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:src="@{lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{js/main.js}"></script>
</body>

</html>